version: 1.6.0.{build}
image: Visual Studio 2022
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: 1.6.0
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
- ps: nuget restore RoslynAnalyzers.sln
build:
  project: RoslynAnalyzers.sln
  parallel: true
  verbosity: minimal
# Nuget is automatically built when building AssignAll project.
artifacts:
- path: 'AssignAll\AssignAll\bin\Release\*.nupkg'
deploy:
- provider: NuGet
  api_key:
    secure: WH/NFFRxSgchekVaBFU8cqYN+09YEzdvjBtQ6YJDTnTSnWGEIHB3vPaJIhICKcdP
  on:
    branch: master